<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServerComponent.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="ServerComponent.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/ServerComponent/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
  <system.diagnostics>
    <sharedListeners>
      <add name="xmlClient" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Client.svclog" traceOutputOptions="LogicalOperationStack, Callstack" />
      <add name="xmlServer" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Server.svclog" traceOutputOptions="LogicalOperationStack, Callstack" />
    </sharedListeners>
    <trace autoflush="true">

    </trace>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true" >
        <listeners>
          <add name="xmlServer"/>
        </listeners>
      </source>

      <source name="xSolon" switchValue="All">
        <listeners>
          <add name="xmlClient" />

          <add name="console"  type="System.Diagnostics.ConsoleTraceListener"> </add>
          <add name="msmq"  type="xSolon.TraceListeners.InMemoryTraceListener, xSolon.TraceListeners, Version=0.1.2.0, Culture=neutral, PublicKeyToken=81d3c46bfea72b2e" FullPrint="false">
            <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />-->

          </add>
        </listeners>
      </source>
      <source name="ServerComponent" switchValue="All">
        <listeners>
          <add name="xmlServer" />

          <add name="console"  type="System.Diagnostics.ConsoleTraceListener"> </add>
          <add name="msmq"  type="xSolon.TraceListeners.InMemoryTraceListener, xSolon.TraceListeners, Version=0.1.2.0, Culture=neutral, PublicKeyToken=81d3c46bfea72b2e" FullPrint="false">
            <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />-->

          </add>
        </listeners>
      </source>

    </sources>
  </system.diagnostics>


</configuration>