<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">

    </trace>
    <sources>
      <source name="xSolon" switchValue="All">
        <listeners>
          <add name="console"  type="System.Diagnostics.ConsoleTraceListener"> </add>
          <add name="msmq"  type="xSolon.Tracing.MemTraceListener, xSolon.Tracing, Version=0.1.1.0, Culture=neutral, PublicKeyToken=81d3c46bfea72b2e">

            <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />-->

          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>