<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="xmlClient" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Client.svclog" traceOutputOptions="LogicalOperationStack, Callstack"/>
      <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="tests.txt"></add>
      <add name="xmlServer" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Server.svclog" traceOutputOptions="LogicalOperationStack, Callstack"/>
    </sharedListeners>
    <trace autoflush="true">

    </trace>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="xmlClient"/>
        </listeners>
      </source>
      <source name="Tests" switchValue="All">
        <listeners>
          <add name="xmlClient"/>
          <add name="textListener"/>

          <add name="console" type="System.Diagnostics.ConsoleTraceListener"> </add>
          <!--<add name="msmq" type="xSolon.TraceListeners.InMemoryTraceListener, xSolon.TraceListeners, Version=0.1.2.0, Culture=neutral, PublicKeyToken=81d3c46bfea72b2e" FullPrint="false">-->
          <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />-->
          <!--</add>-->
        </listeners>
      </source>
      <source name="ServerComponent" switchValue="All">
        <listeners>
          <add name="xmlServer"/>

          <add name="console" type="System.Diagnostics.ConsoleTraceListener"> </add>
          <!--<add name="msmq" type="xSolon.TraceListeners.InMemoryTraceListener, xSolon.TraceListeners, Version=0.1.2.0, Culture=neutral, PublicKeyToken=81d3c46bfea72b2e" FullPrint="false">-->
          <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />-->

          <!--</add>-->
        </listeners>
      </source>

    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ServerComponent/Service1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
